apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: authentik
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: https://charts.goauthentik.io
    targetRevision: 2025.10.3
    chart: authentik
    helm:
      valuesObject:
        global:
          env:
          - name: AUTHENTIK_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: authentik-secrets
                key: secret_key
          - name: AUTHENTIK_POSTGRESQL__PASSWORD
            valueFrom:
              secretKeyRef:
                name: authentik-secrets
                key: postgresql_password
        authentik:
          error_reporting:
            enabled: false
        server:
          ingress:
            enabled: false
        postgresql:
          enabled: true
          auth:
            existingSecret: authentik-secrets
            secretKeys:
              adminPasswordKey: postgresql_password
        redis:
          enabled: true
  - repoURL: git@github.com:Chelsea486MHz/gitops.git
    targetRevision: main
    path: apps/authentik
    directory:
      include: "{ingress.yaml,sealed-secret.yaml}"
  destination:
    server: https://kubernetes.default.svc
    namespace: authentik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true