apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: 38.0.1
    chart: traefik
    helm:
      valuesObject:
        deployment:
          kind: DaemonSet
        ingressClass:
          enabled: true
          isDefaultClass: true
        ingressRoute:
          dashboard:
            enabled: false
        logs:
          general:
            level: INFO
          access:
            enabled: true
        podSecurityContext:
          fsGroup: 65532
        securityContext:
          capabilities:
            add:
              - NET_BIND_SERVICE
            drop:
              - ALL
          readOnlyRootFilesystem: true
          runAsGroup: 0
          runAsNonRoot: false
          runAsUser: 0
        ports:
          web:
            port: 80
            exposedPort: 80
            hostPort: 80
            expose:
              default: true
            protocol: TCP
          websecure:
            port: 443
            exposedPort: 443
            hostPort: 443
            expose:
              default: true
            protocol: TCP
            tls:
              enabled: true
        service:
          enabled: false
        providers:
          kubernetesCRD:
            enabled: true
            allowCrossNamespace: true
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: false
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
