apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portainer
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: https://portainer.github.io/k8s
    targetRevision: 2.33.7
    chart: portainer
    helm:
      valuesObject:
        service:
          type: ClusterIP
        tls:
          force: false
        ingress:
          enabled: false
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
  - repoURL: git@github.com:Chelsea486MHz/gitops.git
    targetRevision: main
    path: apps/portainer
    directory:
      exclude: "application.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: portainer
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true